In [3]:
import pandas as pd

df = pd.read_csv('dvf.csv.gz', compression='gzip', low_memory=False)
print(f"Nombre de transactions initial : {len(df):,}")

Nombre de transactions initial : 20,133,668

In [4]:
df

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2020-1,2020-01-07,1,Vente,8000.0,NaN,NaN,FORTUNAT,B063,1250.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1061.0,5.323532,46.171941
1,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,NaN,BT,taillis simples,NaN,NaN,85.0,4.893454,46.251858
2,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,BOIS DU CHAMP RION,B006,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1115.0,4.900210,46.235277
3,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,EN COROBERT,B025,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1940.0,4.882112,46.246554
4,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1148.0,4.894481,46.251841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20133663,2024-1218061,2024-11-28,1,Vente,4550000.0,147.0,NaN,RUE DE CHARENTON,1794,75012.0,...,Appartement,23.0,2.0,S,sols,NaN,NaN,323.0,2.382241,48.845284
20133664,2024-1218061,2024-11-28,1,Vente,4550000.0,147.0,NaN,RUE DE CHARENTON,1794,75012.0,...,Appartement,23.0,2.0,S,sols,NaN,NaN,323.0,2.382241,48.845284
20133665,2024-1218061,2024-11-28,1,Vente,4550000.0,147.0,NaN,RUE DE CHARENTON,1794,75012.0,...,Appartement,23.0,2.0,S,sols,NaN,NaN,323.0,2.382241,48.845284
20133666,2024-1218061,2024-11-28,1,Vente,4550000.0,147.0,NaN,RUE DE CHARENTON,1794,75012.0,...,Appartement,23.0,2.0,S,sols,NaN,NaN,323.0,2.382241,48.845284
20133667,2024-1218061,2024-11-28,1,Vente,4550000.0,147.0,NaN,RUE DE CHARENTON,1794,75012.0,...,Local industriel. commercial ou assimilé,42.0,0.0,S,sols,NaN,NaN,323.0,2.382241,48.845284